@{
    ViewData["Title"] = "Create / Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model TrackExpenses.Models.Expense


<div class="text-center">
    <h1 class="display-4">Create or edit an expense</h1>
</div>

<form asp-action="CreateEditExpenseForm" asp-controller="Expenses">

    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label class="mt-4">Name</labe>
    <input class="form-control" type="text" placeholder="Name of expense" asp-for="Name" />

    <label class="mt-4">Value €</label>
    <input class="form-control" type="number" step="0.01" placeholder="00.00" asp-for="Value" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" />
        <td>
            <label for="ExpenseCategoryId">Categoria</label>
            @Html.DropDownListFor(m => m.ExpenseCategoryId, (SelectList)ViewBag.Categories, "Selecione uma categoria", new { @class = "form-control" })
        </td>

    <button class="btn btn-primary mt-4" type="submit">SAVE</button>
</form>