@{
    ViewData["Title"] = "Expenses";
}
@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">CREATE NEW</a>
    <br/>
    @{  
        if (Model != null)
        {
            <table>
            @foreach (var expense in Model)
            {
                @foreach (var property in expense.GetType().GetProperties())
                {
                    <tr>
                        <td>@property.Name</td> <!-- Display Property Name (Key) -->
                        <td>@property.GetValue(expense)</td> <!-- Display Property Value -->
                    </tr>
                       
                }
                    <td>
                        <a asp-action="CreateEditExpense" asp-route-id="@expense.Id">EDIT</a>
                        <a asp-action="DeleteExpense" asp-route-id="@expense.Id">DELETE</a>
                    </td>
                
            }
            </table>
        }
        
    }
        </tbody>
    </table>

</div>