@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Client> signInManager;



    <ul class="navbar-nav ms-auto">
        @if(signInManager.IsSignedIn(User))
        
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profile" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">SignIn</a>
        </li>
    }
</ul>